<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ScrubShrubs - Arrowhead Locator</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Favicons -->
  <!-- <link href="../static/img/favicon.png" rel="icon"> -->
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="../static/js/home.js"></script>

  <!-- map -->
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css" rel="stylesheet" />

  <style>
    /* body {
      margin:0px;
      height:100vh;
      background:#333;
    } */
    .center {
      height:100%;
      display:flex;
      align-items:center;
      justify-content:center;
    }
    .form-input {
      width:250px;
      padding:20px;
      background:#fff;
      border:1px dashed #555;
    }
    .form-input input {
      display:none;
    }
    .form-input label {
      display:block;
      width:100%;
      height:50px;
      line-height:50px;
      text-align:center;
      background:#199EB8;
      color:#fff;
      font-size:20px;
      /* font-family:"Open Sans",sans-serif; */
      /* text-transform:Uppercase; */
      font-weight:600;
      border-radius:10px;
      cursor:pointer;
    }

    .form-input img {
      width:100%;
      display:none;
      margin-top:10px;
    }

    body { margin: 0; padding: 0; }
    #map { position: relative; height: 350px;  width: 100%; }
/*
	.marker {
      background-size:cover;
      width: 50px;
      height: 62px;
      border-radius: 50%;
      cursor: pointer;
    } */

    .btn1{/*dent around button*/
    /* display: inline-block; */
    position: relative;
    text-decoration: none;
    color: rgba(3, 169, 244, 0.54);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    border: none;
    background: none;
    padding: 0;
    background: #f7f7f7;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08);
}
.btn1 .fa {
    position: absolute;
    content: '';
    width: 70px;
    height: 70px;
    line-height: 80px;
    vertical-align: middle;
    left: 10px;
    top: 9px;
    border-radius: 50%;
    font-size: 40px;
    background-image: -webkit-linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #b5b5b5;
  }

.btn1 .fa:active{
    background-image: -webkit-linear-gradient(#efefef 0%, #d6d6d6 100%);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #d8d8d8;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

  </style>
</head>

<body>

  <!-- ======= Landing Section ======= -->
  <section class="hero">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12" style="margin-top: 0px;">
          <a class="hero-brand" href="#" title="Home"><img alt="Bell Logo" src="../static/img/logo.png"></a>
        </div>
      </div>

      <div class="col-md-12">
        <h1>
          Welcome to the Arrowhead Movement
        </h1>

        <p class="tagline">
          Conserve Barmah National Park by making it Arrowhead-free
        </p>
        <div class="overlay-detail">
          <!-- <a href="#about"><i class="fa fa-chevron-circle-down" style='font-size:48px;color:white; margin-top: 10px;'></i></a>
          <a href="#find"><i class="fa fa-camera" style='font-size:48px;color:white; margin-top: 10px;'></i></a> -->
          <a class="btn btn-xs" href="#about" id="btn1">Get Started Now</a>
        </div>
        <br>
        <div class="overlay-detail" style="margin-bottom: 20px;">
          <a class="btn btn-xs" href="#find" id="btn2">Click a Picture</a>
        </div>
        <!-- <a class="btn btn-full" href="#about">Get Started Now</a> -->
      </div>
    </div>
  </section>
  <!-- End Landing -->

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="index.html"><img src="../static/img/navlogo.png" alt=""></a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!-- <h1><a href="#hero">Bell</a></h1> -->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="#about">About Arrowhead</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#portfolio">Gallery</a></li>
          <li><a href="#find">Find Arrowhead</a></li>
          <li><a href="#map">Distribution</a></li>
          <!-- <li><a href="#contact">Contact Us</a></li> -->
        </ul>
      </nav>
      <!-- #nav-menu-container -->

      <nav class="nav social-nav pull-right d-none d-lg-inline">
        <a href="https://www.facebook.com/scrubshrubs/"><i class="fa fa-facebook"></i></a>
        <a href="https://github.com/monica110394/mywebapp"><i class="fa fa-github" aria-hidden="true" style="font-size: 28px;"></i></i></a>
        <!-- &nbsp;&nbsp; -->
        <!-- <img src="../static/img/rsz_site-logo-white.png" style="margin-bottom: 10px;"> -->
        <a href="https://mahara.infotech.monash.edu.au/mahara/view/view.php?id=45296"><img src="../static/img/rsz_site-logo-white.png" style="margin-bottom: 10px;"></a>
      </nav>
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section class="about" id="about">

      <div class="container text-center">
        <h2>
          About Arrowhead
        </h2>

        <p>
          Arrowhead aka Delta Arrowhead (Sagittaria platyphylla) is a aquatic plant species that is considered as a noxious weed.
          The plant is found in ponds, lakes and slow-moving streams.
          Some of the leaves are completely submerged, others emerge (raising above the surface of the water).
        </p>
        <br>
        <p>
          Sagittaria forms extensive infestations in shallow waterways, severely limiting the flow of water and increasing sedimentation, thus aggravating floods.
          The potential for large-scale soil movements with limited off-shore effects will be increased flooding chances.
          It can block irrigation channels, hinder the flow of water and stifle natural watercourses and wetlands.
        </p>

        <div class="row stats-row">

          <div class="stats-col text-center col-md-3 col-sm-6">
          <!--  <div class="circle">
              <span class="stats-no" data-toggle="counter-up">232</span> In Australia
            </div> -->
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up">579</span> Arrowheads In Australia
            </div>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
            <div class="circle">
              <span class="stats-no" data-toggle="counter-up">376</span> Arrowheads in Barmah Forest
            </div>
          </div>

          <div class="stats-col text-center col-md-3 col-sm-6">
          <!--  <div class="circle">
              <span class="stats-no" data-toggle="counter-up">79</span> Barmah Forest
            </div> -->
          </div>
        </div>

      </div>

    </section>
    <!-- End About Section -->



    <!-- ======= Features Section ======= -->
    <section class="features" id="features">

      <div class="container">
        <h2 class="text-center">
          Features
        </h2>

        <div class="row">

           <!-- ======= GALLERY ======= -->
          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <i class="fa fa-picture-o" aria-hidden="true" style="font-size:x-large;"></i>
                </div>
              </div>
              <div>
                <h3>
                  View Gallery
                </h3>
                <p>
                  Our team has sourced images of Arrowhead for your reference
                </p>
              </div>
            </div>
          </div>

          <!-- ======= TIPS ======= -->
          <div class="feature-col col-lg-4 col-xs-12">
            <div class="card card-block text-center">
              <div>
                <div class="feature-icon">
                  <i class="fa fa-camera" aria-hidden="true" style="font-size: x-large;"></i>
                </div>
              </div>
              <div>
                <h3>
                  View Tips
                </h3>
                <p>
                  Check out the correct way to click a picture
                </p>
              </div>
            </div>
          </div>


        <!-- ======= IDENTIFY ======= -->
        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <i class="fa fa-search" aria-hidden="true" style="font-size:x-large;"></i>
                <!-- <span class="fa fa-envelope"></span> -->
              </div>
            </div>
            <div>
              <h3>
              Identify Arrowhead
              </h3>
              <p>
              Identify whether a plant is an Arrowhead using our AI technology
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="row">

        <!-- ======= LOCATION ======= -->
        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <i class="fa fa-location-arrow" aria-hidden="true" style="font-size:xx-large;"></i>
                <!-- <span class="fa fa-database"></span> -->
              </div>
            </div>

            <div>
              <h3>
                Share Location
              </h3>
              <p>
                Switch on your GPS to help us locate Arrowhead
              </p>
            </div>
          </div>
        </div>

         <!-- ======= REPORT ======= -->
        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon text-center" >
                <i class="fa fa-flag" aria-hidden="true" style="font-size: x-large;"></i>
                <!-- <span class="fa fa-cutlery"></span> -->
              </div>
            </div>

            <div class="text-center">
              <h3>
                Report
              </h3>
              <p>
                Help report the Arrowhead
              </p>
            </div>
          </div>
        </div>

         <!-- ======= MAP ======= -->
        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <i class="fa fa-map" aria-hidden="true"></i>

                <!-- <span class="fa fa-dashboard"></span> -->
              </div>
            </div>

            <div>
              <h3>
                View Distribution
              </h3>
              <p>
                See the Arrowheads around you on the map
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    </section><!-- End Features Section -->


    <!-- ======= Gallery Section ======= -->
    <section class="portfolio" id="portfolio">

      <div class="container text-center">
        <h2>
          Gallery
        </h2>
      </div>

      <div class="portfolio-grid">

        <div class="row">
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="../static/img/wallpaper02.png" class="venobox" data-gall="portfolioGallery"><img alt="" src="../static/img/wall02.png">
                <div class="portfolio-over">
                  <div>
                    <h3 class="card-title">
                      Arrowhead closeup
                    </h3>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="../static/img/wallpaper01.jpg" class="venobox" data-gall="portfolioGallery"><img alt="" src="../static/img/wall01.jpg">
                <div class="portfolio-over">
                  <div>
                    <h3 class="card-title">
                      Arrowhead leaf
                    </h3>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="../static/img/wallpaper03.jpg" class="venobox" data-gall="portfolioGallery"><img alt="" src="../static/img/wall03.png">
                <div class="portfolio-over">
                  <div>
                    <h3 class="card-title">
                      Different Arrowhead leaves
                    </h3>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="../static/img/wallpaper04.jpg" class="venobox" data-gall="portfolioGallery"><img alt="" src="../static/img/wall04.png">
                <div class="portfolio-over">
                  <div>
                    <h3 class="card-title">
                      Arrowhead flower
                    </h3>
                  </div>
                </div>
              </a>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="../static/img/wallpaper05.jpg" class="venobox" data-gall="portfolioGallery"><img alt="" src="../static/img/wall05.png">
                <div class="portfolio-over">
                  <div>
                    <h3 class="card-title">
                      Natural environment of Arrowhead
                    </h3>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="../static/img/wallpaper06.jpg" class="venobox" data-gall="portfolioGallery"><img alt="" src="../static/img/wall06.png">
                <div class="portfolio-over">
                  <div>
                    <h3 class="card-title">
                      Arrowhead fruit
                    </h3>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="../static/img/wallpaper07.jpg" class="venobox" data-gall="portfolioGallery"><img alt="" src="../static/img/wall07.png">
                <div class="portfolio-over">
                  <div>
                    <h3 class="card-title">
                      Arrowhead leaves in water
                    </h3>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="../static/img/wallpaper08.jpg" class="venobox" data-gall="portfolioGallery"><img alt="" src="../static/img/wall08.png">
                <div class="portfolio-over">
                  <div>
                    <h3 class="card-title">
                      Arrowhead leaves with flower
                    </h3>
                  </div>
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- End Portfolio Section -->



    <!-- ======= Identify Section ======= -->

    <section id="contact">
      <div class="container text-center">
        <h2 class="section-title">Find Arrowhead</h2>

        <div class="find", id="find">
        <div class="row">
                <div class="col-lg-12 container-fluid text-center">
                  <img src="../static/img/info-93.png">&nbsp;<span>Please click a picture of one leaf at a time</span>
                </div>
            </div>
        </div>


        <!-- <div class="col-lg-4 text-center"> -->


          <!-- <div> -->
          <br>
            <!-- <div class="col-lg-12 text-center"> -->
                <!-- ======= Start of Monica's code ======= -->
                <!-- ======= Monica's code for selecting image ======= -->
                <div class="center">
                  <div class="form-input">
                    <label for="image-selector">Click a Picture</label>
                    <input id="image-selector" name="myFile" type="file" class="btn" style="font-size: 20px;
                      font-weight: bolder; border-radius: 10px" accept="image/*" onchange="showPreview(event)" capture>
                    <div class="preview">
                      <img id="file-ip-1-preview">
                    </div>
                  </div>
                </div>

                <!-- ======= Monica's script for previewing selected image ======= -->
                <script>
                function showPreview(event){
                    if(event.target.files.length > 0){
                        var src = URL.createObjectURL(event.target.files[0]);
                        var preview = document.getElementById("file-ip-1-preview");
                        preview.src = src;
                        preview.style.display = "block";
                    }
                }
                </script>
                <br>

               <!-- <button type="submit" id="predict-button" class="btn btn-primary" style="font-size: 20px;font-weight: bolder; border-radius: 10px;"
               data-toggle="modal" data-target="#submit">Identify</button> -->

               <button href="#" type="submit" id="predict-button" class="btn1" style="font-size: 20px;font-weight: bolder; border-radius: 10px;"
               data-toggle="modal" data-target="#submit">
	                <i class="fa fa-leaf" color=#199EB8></i>
              </button>

               <!-- ======= Monica's script for prediction ======= -->
               <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
               <script>
                   let base64Image;
                   $("#image-selector").change(function() {
                     let reader = new FileReader();
                     reader.onload = function(e) {
                         let dataURL = reader.result;
                         $('#selected-image').attr("src",dataURL);
                         // base64Image = dataURL.replace("data:image/jpeg;base64,","");
                         base64Image=dataURL.replace(/^data:image\/(png|jpeg);base64,/, "");
                         console.log(base64Image);
                     }
                     reader.readAsDataURL($("#image-selector")[0].files[0]);
                   });
                   $("#predict-button").click(function(event){
                    let message = {
                        image: base64Image
                   }
                   console.log(message);
                   $.post("/predict", JSON.stringify(message), function(response){
                     if (response.isArrowhead){
                        $('#pos').prop("src","../static/img/app.png");
                        $('#modalMessage').append(response.message)
                        $('div.modal fade').modal('toggle');
                        document.getElementById("myMessage").style.visibility = "visible"
                        jQuery('#myLoad').replaceWith(jQuery('#myMessage'));
                     }else{
                        $('#neg').prop("src","../static/img/alert.png");
                        $('#modalMessage').append(response.message)
                        $('div.modal fade').modal('toggle');
                        document.getElementById("myMessage").style.visibility = "visible"
                        jQuery('#myLoad').replaceWith(jQuery('#myMessage'));
                     }
                         console.log(response);
                     });
                   });
               </script>

               <script>
                     $(document).ready(function(){
                   $("#predict-button").attr("disabled", "disabled");
                   $("#image-selector").change(function(){
                   $("#predict-button").removeAttr("disabled");
                   });
                   });
              </script>


               <div class="modal fade" id="submit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                 <div class="modal-dialog modal-dialog-centered" role="document">
                   <div class="modal-content">

                     <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                       </button>
                     </div>

                   <div id="myLoad">
                     <div class="loader" style="margin-left: 165px; margin-top: 50px;"></div>
                     <p>Analyzing the image...</p>
                   </div>

                   <div id="myMessage">
                     <div>
                      <img id='pos' src="">
                      <img id='neg' src="">
                     </div>
                     <div id="modalMessage" class="modal-body">
                     </div>
                   </div>

                     <script>
                             // document.getElementById("myLoad").style.visibility = "hidden";
                             document.getElementById("myMessage").style.visibility = "hidden";
                     </script>

                     <div class="modal-footer">
                       <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal" id="close_btn">Close</button>
                     </div>
                   </div>
                 </div>
               </div>

               <!-- Script for capturing location on page load -->
               <script>
                   if (navigator.geolocation) {
                       navigator.geolocation.getCurrentPosition(function(position) {
                           pos = {
                               lat: position.coords.latitude,
                               lng: position.coords.longitude
                           };
                           $.post({
                                       url: "/location",
                                       contentType: "application/json",
                                       data: JSON.stringify({location: pos}),
                                       dataType: "json",
                                       success: function(response) {
                                           console.log(response);
                                       },
                                       error: function(err) {
                                           console.log(err);
                                       }
                                 });
                       },
                       function(error) {
                           if (error.code == error.PERMISSION_DENIED)
                             pos = {
                                 lat: null,
                                 lng: null
                             };
                             $.post({
                                         url: "/location",
                                         contentType: "application/json",
                                         data: JSON.stringify({location: pos}),
                                         dataType: "json",
                                         success: function(response) {
                                             console.log(response);
                                         },
                                         error: function(err) {
                                             console.log(err);
                                         }
                                     });
                               });
                     }
                 </script>
               <!-- ======= End of Monica's code ======= -->
        <!-- </div> -->
      <!-- </div> -->
      <!-- </div> -->
    </section>
    <!-- End Identify Section -->


    <!-- ======= Map Section ======= -->
    <section id="contact">

      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="section-title">Distribution</h2>
          </div>
        </div>
      </div>

      <style>
          .legend {
              background-color: #fff;
              border-radius: 3px;
              top: 5px;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
              font: 12px/15px 'Helvetica Neue', Arial, Helvetica, sans-serif;
              padding: 10px;
              position: absolute;
              left: 5px;
              z-index: 1;
          }

          .legend h4 {
              margin: 0 0 10px;
          }

          .myImg {
              padding-right: 2px;
              width: 12px;
              height: 12px;
              object-fit: contain;
          }
      </style>

      <!-- <div id="map">
          <div id="marker-legend" class="legend" style="display: block;">
              <h4>Markers</h4>
              <div><span style="background-image: url('./static/img/circle_red.png')"></span>Historical arrowhead location</div>
              <div><span style="background-image: url('./static/img/marker_red.png')"></span>Last arrowhead recognized location </div>
              <div><span style="background-image: url('./static/img/marker1.png')"></span>All arrowhead recognized locations</div>
          </div>
      </div> -->

      <div id="map">
        <div id="marker-legend" class="legend" style="display: block;">
          <h4>Legend</h4>
          <div>
            <img class="myImg"; src="./static/img/marker1.png" />Arrowhead Recognized Locations<br>
            <img class="myImg"; src="./static/img/marker_red.png" />Last Arrowhead Recognized Location<br>
            <img class="myImg"; src="./static/img/circle_red.png" />Historical Arrowhead Locations<br>
          </div>
       </div>
      </div>

      <script>
          mapboxgl.accessToken = 'pk.eyJ1Ijoid2VpbSIsImEiOiJja2Ewd3VzbDUwNmc2M2ZwZDV6N3pwdmhvIn0.EJHXebn_BEqc2lzZU6KrRQ';
          var map = new mapboxgl.Map({
              container: 'map',
              style: 'mapbox://styles/mapbox/streets-v11',
              center: [145.1175, -35.8667],
              zoom: 10
          });

          //            var countyLegendEl = document.getElementById('county-legend');
          //            map.on('zoom', function() {
          //                countyLegendEl.style.display = 'block';
          //            });


          //<!--add navigation control bar -->
          map.addControl(new mapboxgl.NavigationControl());

          // Initialize the geolocate control
          var geolocate = new mapboxgl.GeolocateControl({
           positionOptions: {
             enableHighAccuracy: true
           },
           trackUserLocation: true
          });
          // Add the control to the map
          map.addControl(geolocate);
          // geolocate control initialization END

          map.on('load', function () {
              geolocate.trigger();
              // add user data points with grass marker
              map.loadImage(
                  './static/img/marker1.png',
                  function(error, image) {
                  if (error) throw error;
                  map.addImage('marker', image);
                  map.addSource('marker', {
                      'type': 'geojson',
                      'data': {
                          'type': 'FeatureCollection',
                          'features': {{ locations|safe }}
                      }
                  });

                  map.addLayer({
                      'id': 'marker',
                      'type': 'symbol',
                      'source': 'marker',
                      'layout': {
                          'icon-image': 'marker',
                          'icon-allow-overlap': true,
                          'icon-size': 0.35
                      }
                  });
              }
          );
          //<!--load image till here-->


              //<!--add latest user data points with red marker-->
              map.loadImage(
                  './static/img/marker_red.png',
                  function(error, image) {
                  if (error) throw error;
                  map.addImage('marker_latest', image);
                  map.addSource('marker_latest', {
                      'type': 'geojson',
                      'data': {
                          'type': 'FeatureCollection',
                          'features': {{ latest|safe }}
                      }
                  });

                  map.addLayer({
                      'id': 'marker_latest',
                      'type': 'symbol',
                      'source': 'marker_latest',
                      'layout': {
                          'icon-image': 'marker_latest',
                          'icon-allow-overlap': true,
                          'icon-size': 0.12
                      }
                  });
              }
          );
          //<!--load image till here-->

              //<!--add csv data points with dot-->
              map.loadImage(
                  './static/img/circle_red.png',
                  function(error, image2) {
                  if (error) throw error;
                  map.addImage('dot', image2);
                  map.addSource('point', {
                      'type': 'geojson',
                      'data': {
                          'type': 'FeatureCollection',
                          'features': {{ arrow_location|safe }}
                      }
                  });

                  map.addLayer({
                      'id': 'point',
                      'type': 'symbol',
                      'source': 'point',
                      'layout': {
                          'icon-image': 'dot',
                          'icon-allow-overlap': true,
                          'icon-size': 0.55
                      }
                  });
              }
              );
             // <!--load image till here-->

             // <!--Add geolocate control to the map.-->
              // map.addControl(
              //     new mapboxgl.GeolocateControl({
              //     positionOptions: {
              //     enableHighAccuracy: true
              //     },
              //     trackUserLocation: true
              //     })
              // );
          //    <!--geolocate control till here-->

            //  <!--click on blue marker popup-->
              map.on('click', 'marker', function(a) {
                  var coordinate = a.features[0].geometry.coordinates.slice();
                  var propertie = a.features[0].properties['icon'];

                  while (Math.abs(a.lngLat.lng - coordinate[0]) > 180) {
                  coordinate[0] += a.lngLat.lng > coordinate[0] ? 360 : -360;
                  }

                  new mapboxgl.Popup()
                      .setLngLat(coordinate)
                      // .setHTML('<strong>Arrowhead recognized on:</strong><p>'+propertie)
                      .setHTML(propertie)
                      .addTo(map);
                  });
          //    <!--END:click on blue marker popup-->

         //     <!--click on red marker popup-->
              map.on('click', 'marker_latest', function(a) {
                  var coordinate = a.features[0].geometry.coordinates.slice();
                  var propertie = a.features[0].properties['icon'];

                  while (Math.abs(a.lngLat.lng - coordinate[0]) > 180) {
                  coordinate[0] += a.lngLat.lng > coordinate[0] ? 360 : -360;
                  }

                  new mapboxgl.Popup()
                      .setLngLat(coordinate)
                      .setHTML('<strong>Last successful arrowhead recognition on:</strong><p>'+propertie)
                      .addTo(map);
                  });
        //      <!--END:click on red marker popup-->


          });
    //      <!--map.on till here-->

      </script>

    </section>
    <!-- End Map Section -->


  </main>
<!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="site-footer">
    <div class="bottom">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-xs-12 text-lg-left text-center">
            <p class="copyright-text">
              &copy; Copyright <strong>ScrubShrubs</strong>. All Rights Reserved
            </p>
            <div class="credits">
              <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bell
            -->
              Designed by <a href="https://mahara.infotech.monash.edu.au/mahara/view/view.php?id=45296">FloraGuru</a>
            </div>
          </div>

          <div class="col-lg-6 col-xs-12 text-lg-right text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">Home</a>
              </li>

              <li class="list-inline-item">
                <a href="#about">About Arrowhead</a>
              </li>

              <li class="list-inline-item">
                <a href="#portfolio">Gallery</a>
              </li>

              <li class="list-inline-item">
                <a href="#find">Find Arrowhead</a>
              </li>

              <li class="list-inline-item">
                <a href="#map">Distribution</a>
              </li>

            </ul>
          </div>

        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/vendor/counterup/counterup.min.js"></script>
  <script src="../static/vendor/tether/js/tether.min.js"></script>
  <script src="../static/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="../static/vendor/venobox/venobox.min.js"></script>
  <script src="../static/vendor/lockfixed/jquery.lockfixed.min.js"></script>
  <script src="../static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../static/vendor/superfish/superfish.min.js"></script>
  <script src="../static/vendor/hoverIntent/hoverIntent.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>
